* {
	box-sizing: border-box
}

html {
	font-family: 'Space Mono', monospace;
	line-height: 1.6;
	color: #666;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background: -webkit-linear-gradient(to bottom, #000000, #392e3c, #536084, #3c9fc8, #12e2eb);
	background: -moz-linear-gradient(to bottom, #000000, #392e3c, #536084, #3c9fc8, #12e2eb);
	background: -ms-linear-gradient(to bottom, #000000, #392e3c, #536084, #3c9fc8, #12e2eb);
	background: -o-linear-gradient(to bottom, #000000, #392e3c, #536084, #3c9fc8, #12e2eb);
	background: linear-gradient(to bottom, #000000, #392e3c, #536084, #3c9fc8, #12e2eb);
}


#root {
	max-width: 1200px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	padding: 1.5rem 2.5rem;
	background-image: linear-gradient(to right, #818181, #8f8f8f, #9d9d9d, #ababab, #b9b9b9);
	margin: 0 0 2rem 0;
	font-size: 1.3rem;
	color: white;
}

img {
	display: block;
	margin: 1rem auto;
	width: 20%;
}

p {
	margin: .3rem;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.ul_nav {
	list-style: none;
	text-align: center;
	margin: 3rem 0;
}

.ul_nav a {
	color: #1A4758;
	background-color: #ADADAD;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
}


.ul_nav a:hover {
	background-color: #EAEAEA;
	-webkit-transition: background-color 0.2s ease-out;
	-moz-transition: background-color 0.2s ease-out;
	-o-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;
}

li {
	display: inline-block;
	margin: 0 5px;
}

.card {
	margin: 1rem;
	background: white;
	box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
	border-radius: 12px;
	overflow: hidden;
	transition: all .2s linear;
	flex-grow: 1;
}

.container:nth-child(2) .card {
	flex-grow: 1;
}

.text .small {
	font-size: .8rem;
}

#weatherDesc{
	text-transform: capitalize;
}


.card:hover {
	box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
	transform: translate3D(0, -2px, 0);
}


.card img {
	margin: 0 auto 1rem;
	float: left;
}

.weather-content {
	float: left;
}